
<% include partials/header.ejs %>

<script src = "/js/jquery.js"></script>
<script src = "/js/cart.js"></script>

<body>
    <% include partials/navbar.ejs %>
    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Total</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody id = "table">
                        <script>
                            products = <%- JSON.stringify(products) %>
                            cart = JSON.parse(localStorage['cart']);
                            console.log(cart);

                            for (var key in cart)
                            {
                                console.log(key)
                                var item_id = key;

                                var item = products[item_id];

                                var html =
                                '<tr id="'+item_id+'">' +
                                    '<td class="col-sm-8 col-md-6">' +
                                    '<div class="media">' +
                                    '    <a class="thumbnail pull-left" href="#"> <img class="media-object" src=' + item.itemImageURL +' style="width: 72px; height: 72px;"> </a>' +
                                    '    <div class="media-body">' +
                                    '        <h4 class="media-heading"><a href="#" >'+ item.itemName + '</a></h4>' +
                                    '    </div>' +
                                    '</div></td>' +
                                    '<td class="col-sm-1 col-md-1" style="text-align: center">' +
                                    '<input type="number" min = "1" class="form-control" id="quantity'+item_id +'" value="'+cart[key]+'">' +
                                    '</td>' +
                                    '<td class="item_price col-sm-1 col-md-1 text-center"><strong>$' +item.itemPrice+ '</strong></td>' +
                                    '<td class="item_total col-sm-1 col-md-1 text-center"><strong>'+ (cart[key]*item.itemPrice) + '</strong></td>' +
                                    '<td class="col-sm-1 col-md-1">' +
                                    '<td class="actions" data-th="">' +
                                    '    <button class="count_refresh btn btn-info btn-sm"><span class="glyphicon glyphicon-refresh"></span></button>' +
                                    '    <button class="remove_item btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span></button>' +
                                    '</td>' +
                                '</tr>';
                                $("#table").append(html);

                            }

                            $(".remove_item").click(function() {
                                cart = removeFromCart($(this).parent().parent().attr('id'));
                                $(this).parent().parent().remove();
                                console.log("updated shit" + cart)
                                localStorage.setItem('cart', cart);
                            });

                            $(".refreshButton").click(function() {
                                var key = $(this).attr('id');
                                var newQuantity = $("#key").value;
                                key = key.substring(14);
                                updateQuantity(key, newQuantity);
                            });

                        </script>

                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td><h3>Total</h3></td>
                            <td class="text-right"><h3><strong class = "price">$</strong><script>getTotalPrice(cart, function(data) {
                                console.log(data);
                                $(".price").append(data);
                            });</script></h3></td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td>
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                            </button></td>
                            <td>
                            <button id="checkout" type="button" class="btn btn-success">
                                Checkout <span class="glyphicon glyphicon-play"></span>
                            </button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- .container -->

<% include partials/footer.ejs %>

